pkgbase = ttf-explex
	pkgdesc = A composite font of 0xProto and IBM Plex Sans JP
	pkgver = 0.0.3
	pkgrel = 1
	url = https://github.com/yuru7/Explex
	arch = any
	license = custom:OFL
	provides = ttf-font
	source = https://github.com/yuru7/Explex/releases/download/v0.0.3/Explex_v0.0.3.zip
	source = https://github.com/yuru7/Explex/releases/download/v0.0.3/Explex_NF_v0.0.3.zip
	source = https://raw.githubusercontent.com/yuru7/Explex/v0.0.3/LICENSE
	sha256sums = 8467de94fc7911cec897e52d76f73604dfb6332fc70d048e99de29649cb3c889
	sha256sums = a6918ded5d0558c73126800abd91493afc0b3aa1b8032779b6dce7f2c01780ac
	sha256sums = 7ece67314ae6e818c471fc7343d301a232a4cced2a8e90c74cb70677a0760292

pkgname = ttf-explex
